
@{
    ViewBag.Title = "CortesNoProgramados";
    Layout = "";
}

<div class="col-lg-12">
    <div class="ibox float-e-margins">
        <div class="ibox-title">
            <h5><i class="fa fa-crop"></i> Cortes no programados</h5>
        </div>
        <div class="ibox-content">

        </div>
    </div>
</div>

