@{
    Layout = "";
}

<style>
    .btn-primary2 {
    background-color: rgba(0, 120, 100, 0.6);
    border-color: rgba(0, 120, 100, 0.6);
    color: #ffffff;
}
</style>

<div class="col-lg-12">
    <div class="ibox float-e-margins">
        <div class="ibox-title">
            <h5>Menu</h5>
        </div>
        <div class="ibox-content">
            <a class="btn btn-block btn-primary2" href="#ConsultaDeuda"><i class="fa fa-area-chart"></i> Consulta de Deuda</a>
            <a class="btn btn-block btn-primary2" href="#UltimosCosumos"><i class="fa fa-area-chart"></i> Últimos Consumos</a>
            <a class="btn btn-block btn-primary2" href="#UltimosPagos"><i class="fa fa-area-chart"></i> Últimos Pagos</a>
            <a class="btn btn-block btn-primary2" href="#LugaresPago"><i class="fa fa-globe"></i> Lugares de Pago</a>
            <a class="btn btn-block btn-primary2" href="#CortesProgramados"><i class="fa fa-crop"></i> Cortes Programados</a>
            <a class="btn btn-block btn-primary2" href="#ReqCambioNombre"><i class="fa fa-bookmark-o"></i> Requisitos para cambio de nombre</a>
            <a class="btn btn-block btn-primary2" href="#ReqNuevoSuministro"><i class="fa fa-bookmark-o"></i> Requisitos para nuevo suministro</a>
            <a class="btn btn-block btn-primary2" href="#ReqAumentoCarga"><i class="fa fa-bookmark-o"></i> Requisitos para aumentos de carga</a>
            <a class="btn btn-block btn-primary2" href="#ReqCorteDefinitivo"><i class="fa fa-bookmark-o"></i> Requisitos para corte definitivo</a>
            <a class="btn btn-block btn-primary2" href="#ReqReubicacionMedidor"><i class="fa fa-bookmark-o"></i> Requisitos para reubicación de medidor</a>
        </div>
    </div>
</div>
