
@{
    ViewBag.Title = "ReqCorteDefinitivo";
    Layout = "";
}

<div class="col-lg-12">
    <div class="ibox float-e-margins">
        <div class="ibox-title">
            <h5><i class="fa fa-bookmark-o"></i> Requisitos para corte definitivo</h5>
        </div>
        <div class="ibox-content">
            <ul>
                <li>Copia simple y vigente de la identificación del titular del suministro, sea persona natural o jurídica (DNI, RUC, CE).</li>
                <li>Carta del titular solicitando el corte definitivo.</li>
                <li>Carta de autorización del propietario (debidamente legalizada) en caso de tratarse de terceros.</li>
                <li>El usuario no deberá presentar deuda pendiente de pago según lo indicado en el Artículo 164° del RLCE.</li>
            </ul>
        </div>
    </div>
</div>

